<h1> Log In </h1>
<form action="/login" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder= "Ellom8">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="password">
  </div>
  <div>
    <input type="submit" value="Log In">
  </div>
</form>
