<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<% if (successMessage) { %>
<p class = "success"> <%=  successMessage %> </p>

<%  } %>

<% if (user) { %>
  <p class = "success puffOut"> Welcome, <%= user.firstName %>
<% } %>


<ul>
<% if (user) { %>
  <li> <a href = "/logout"> Logout </a> </li>
  <li> <a href = "/secret"> Secret Yall </a> </li>
  <li> <a href = "/snowden-files"> Snowden Knows </a> </li>
  <li> <a href = "/rooms/new"> Make a new Room </a> </li>
  <li> <a href = "/my-rooms"> Your Rooms </a> </li>
<% } else { %>
  <li> <a href = "/signup"> Sign Up </a> </li>
  <li> <a href = "/login"> Login </a> </li>
<% } %>
</ul>
